html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
a[href],
button {
  -ms-touch-action: none;
  /* IE10 */
  touch-action: none;
  /* IE11 */
}
body {
  background: #F5F5F5;
  font-family: sans-serif, 'Open Sans';
  overflow-y: scroll;
  overflow-x: hidden;
}
.container {
  width: 100%;
  padding-top: 10%;
  float: left;
  display: inline-block;
  text-align: center;
}
.container .avatar {
  width: 100%;
  padding: 1% 0%;
  float: left;
  display: inline-block;
}
.container .avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border: 2px solid #FFFFFF;
}
.container h1 {
  font-size: 1.7em;
  line-height: 2em;
}
.container p {
  font-size: 0.9em;
  line-height: 2em;
  color: #555555;
}
.container p.contact {
  padding: 2% 0%;
  font-size: 0.9em;
  color: #AAAAAA;
}
.container p.contact a {
  color: #AAAAAA;
}
.container p.contact a:hover {
  color: #000000;
  text-decoration: underline;
}
.container p.work {
  color: #AAAAAA;
  font-size: 0.9em;
  font-weight: bold;
}
.container p.work a {
  color: #000000;
}
.container p.work a:hover {
  text-decoration: underline;
}
