html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
a[href],
button {
  -ms-touch-action: none;
  /* IE10 */
  touch-action: none;
  /* IE11 */
}
body {
  background: #FFFFFF;
  font-family: 'Noto Sans', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}
.author {
  width: 54%;
  padding: 5% 23%;
  float: left;
  display: inline-block;
  text-align: center;
  background: #FAFAFA;
}
.author .avatar {
  margin-bottom: 2%;
}
.author .avatar img {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
}
.author .name {
  width: 100%;
  float: left;
  display: inline-block;
}
.author .name h1 {
  font-size: 2.1em;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.8);
}
.author .about {
  width: 100%;
  float: left;
  display: inline-block;
  margin-top: 3%;
}
.author p {
  font-size: 0.9em;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.8);
}
.author p.qoute {
  font-size: 1.1em;
  font-style: italic;
}
.author a {
  color: #3F51B5;
}
.author a:hover {
  text-decoration: underline;
}
.gallery {
  width: 100%;
  float: left;
  display: inline-block;
}
.gallery .photo-items {
  width: 50%;
  margin: 0% 25%;
  margin-top: 5%;
  float: left;
  display: inline-block;
  position: relative;
}
.gallery .photo-items img {
  width: 100%;
  float: left;
  display: inline-block;
  background: #EEEEEE;
  min-height: 200px;
  text-align: center;
  font-size: 0.8em;
  color: #AAAAAA;
}
.gallery .photo-items figcaption {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 90%;
  padding: 5%;
  float: left;
  display: inline-block;
  font-size: 0.8em;
  line-height: 1.5em;
  font-style: italic;
  color: rgba(255, 255, 255, 0.8);
  text-align: right;
}
@media only screen and (min-width: 760px) and (max-width: 1023px) {
  .author {
    width: 94%;
    padding: 11% 3%;
  }
  .author .avatar {
    margin-bottom: 5%;
  }
  .author .name h1 {
    font-size: 1.5em;
    line-height: 1em;
  }
  .author .about {
    margin-top: 3%;
  }
  .author p {
    font-size: 0.9em;
    line-height: 1.5em;
  }
  .author p.qoute {
    font-size: 1em;
  }
  .gallery .photo-items {
    width: 60%;
    margin: 0% 20%;
    margin-bottom: 1%;
  }
  .gallery .photo-items figcaption {
    width: 90%;
    padding: 5%;
    font-size: 0.8em;
    line-height: 1.5em;
  }
}
@media only screen and (min-width: 520px) and (max-width: 759px) {
  .author {
    width: 94%;
    padding: 10% 3%;
  }
  .author .avatar {
    margin-bottom: 5%;
  }
  .author .name h1 {
    font-size: 1.5em;
    line-height: 1em;
  }
  .author .about {
    margin-top: 3%;
  }
  .author p {
    font-size: 0.9em;
    line-height: 1.5em;
  }
  .author p.qoute {
    font-size: 1em;
  }
  .gallery .photo-items {
    width: 100%;
    margin: 0%;
    margin-bottom: 1%;
  }
  .gallery .photo-items figcaption {
    width: 90%;
    padding: 5%;
    font-size: 0.8em;
    line-height: 1.5em;
  }
}
@media only screen and (min-width: 0px) and (max-width: 519px) {
  .author {
    width: 94%;
    padding: 10% 3%;
  }
  .author .avatar {
    margin-bottom: 5%;
  }
  .author .name h1 {
    font-size: 1.5em;
    line-height: 1em;
  }
  .author .about {
    margin-top: 3%;
  }
  .author p {
    font-size: 0.9em;
    line-height: 1.5em;
  }
  .author p.qoute {
    font-size: 1em;
  }
  .gallery .photo-items {
    width: 100%;
    margin: 0%;
  }
  .gallery .photo-items figcaption {
    width: 90%;
    padding: 5%;
    font-size: 0.8em;
    line-height: 1.5em;
  }
}
