//////////////////////////////////////////////
// SETTING ///////////////////////////////////
//////////////////////////////////////////////
// FONT STYLE
@FontPrimary: sans-serif,'Open Sans';

html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

a[href], button {
    -ms-touch-action: none; /* IE10 */
    touch-action: none;     /* IE11 */
}

body{
    background: #F5F5F5;
    font-family: @FontPrimary;
    overflow-y:scroll;
    overflow-x:hidden;
}