@import "default";

.author{
    width: 54%;
    padding: 5% 23%;
    float: left;
    display: inline-block;
    text-align: center;
    background: #FAFAFA;

    .avatar{
        margin-bottom: 2%;

        img{
            display: inline-block;
            border-radius: 50%;
            overflow: hidden;
        }
    }
    .name{
        width: 100%;
        float: left;
        display: inline-block;

        h1{
            font-size: 2.1em;
            line-height: 1.5em;
            color: rgba(0, 0, 0, 0.8);
        }
    }

    .about{
        width: 100%;
        float: left;
        display: inline-block;
        margin-top: 3%;
    }

    p{
        font-size: 0.9em;
        line-height: 1.5em;
        color: rgba(0, 0, 0, 0.8);
    }

    p.qoute{
        font-size: 1.1em;
        font-style: italic;
    }

    a{
        color: #3F51B5;
        &:hover{text-decoration: underline;}
    }
}

.gallery{
    width: 100%;
    float: left;
    display: inline-block;

    .photo-items{
        width: 50%;
        margin: 0% 25%;
        margin-top: 5%;
        float: left;
        display: inline-block;
        position: relative;

        img{
            width: 100%;
            float: left;
            display: inline-block;
            background: #EEEEEE;
            min-height: 200px;
            text-align: center;
            font-size: 0.8em;
            color: #AAAAAA;
        }

        figcaption{
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 90%;
            padding: 5%;
            float: left;
            display: inline-block;
            font-size: 0.8em;
            line-height: 1.5em;
            font-style: italic;
            color: rgba(255, 255, 255, 0.8);
            text-align: right;
        }
    }
}

/////////////////////////////////////////////////
// Other Device and Screen //////////////////////
/////////////////////////////////////////////////
@media only screen and (min-width:1024px) and (max-width:1365px){@import "style-1024-1366";}
@media only screen and (min-width:760px) and (max-width:1023px){@import "style-760-1023";}
@media only screen and (min-width:520px) and (max-width:759px){@import "style-520-759";}
@media only screen and (min-width:0px) and (max-width :519px){@import "style-0-519";}